spring:
  data:
    solr:
      host: ${COMMONS_SOLR_URL:http://localhost:8983/solr}
    elastic-search:
      host: ${COMMONS_ELASTIC_SEARCH_URL:localhost:9200}  
      username: ${COMMONS_ELASTIC_SEARCH_USER:user}
      password: ${COMMONS_ELASTIC_SEARCH_PASSWORD:changeit} 
  liquibase:
    enabled: ${COMMONS_LIQUIBASE_ENABLED:true}
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    deserialization:
      adjust-dates-to-context-time-zone: true
      fail-on-unknown-properties: false
    time-zone: Asia/Kolkata
    default-property-inclusion: NON_NULL
  datasource:
    password: ${commons.platform.service.datasource.password}  
    username: ${commons.platform.service.datasource.username}  
    url: jdbc:${commons.platform.service.datasource.driver:mysql}://${commons.platform.service.datasource.url}:${commons.platform.service.datasource.port}/${commons.platform.service.datasource.db_name}
    driver-class-name: ${COMMONS_DRIVER_CLASS_NAME:com.mysql.cj.jdbc.Driver}
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true
    useLocalSessionState: true
    rewriteBatchedStatements: true
    cacheResultSetMetadata: true
    cacheServerConfiguration: true
    elideSetAutoCommits: true
    maintainTimeStats: false
    hikari:
      maximumPoolSize: 10
      minimumIdle: 2
      idleTimeout: 120000
      connectionTimeout: 300000
      leakDetectionThreshold: 300000
      data-source-properties:
        characterEncoding: UTF-8
        useUnicode: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: ${COMMONS_DDL_AUTO:none}
    properties:
      hibernate:
        format_sql: true
        search:
          automatic_indexing: false
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        generate_statistics: false
        jdbc:
          time_zone: UTC
          batch_size: 50
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
  main:
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude[0]: org.springframework.boot.autoconfigure.security.SecurityAutoConfiguration
    exclude[1]: org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration
  cloud:
    config:
      allowOverride: true
      overrideNone: false
      overrideSystemProperties: true
  kafka:
    consumer:
      max-poll-interval-ms: 600000   # 10 minutes
      session-timeout-ms: 15000      # broker detection of dead consumer
      heartbeat-interval-ms: 5000    # frequency of heartbeats 

eureka:
  client:
    enabled: ${COMMONS_EUREKA_CLIENT_ENABLED:true}
    serviceUrl:
      defaultZone: ${COMMONS_SERVICE_DISCOVERY_URL:http://localhost:8761/service-discovery/eureka/}
  instance:
    preferIpAddress: true
    metadata-map:
      management.context-path: ${server.servlet.context-path}/actuator

logging:
  level:
    root: info
  file:
    name: /commons-platform/logs/${spring.application.name}/${spring.application.name}.log
  logback:
    rollingpolicy:
      file-name-pattern: /commons-platform/logs/${spring.application.name}/${spring.application.name}-%d{yyyy-MM-dd}.%i.log
      max-file-size: 50MB
      max-history: 30
      total-size-cap: 1GB

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      probes:
        enabled: 'true'
  health:
    liveness-state:
      enabled: 'true'
    readiness-state:
      enabled: 'true'

commons:
  service:
    iam:
      context-path: /commons-iam-service
    commons-report-service:
      context-path: /commons-report-service
    commons-search-service:
      context-path: /commons-search-service
    commons-ie-service:
      context-path: /commons-ie-service
    commons-domain-service:
      context-path: /commons-domain-service
  platform:
    api-key: ${COMMONS_API_KEY:***MASKED***}
    tenant-id:
      platform: 1
    cms:
      url: ${COMMONS_CMS_URL:asm}
      user-name: ${COMMONS_CMS_USER_NAME:admin} 
      password: ${COMMONS_CMS_PASSWORD:***MASKED***} 
      data-url: ${COMMONS_CMS_DATA_URL:asm} 
    cm-admin: 
      appkey: ${COMMONS_CM_ADMIN_APPKEY:***MASKED***}
    cache:
      enabled: ${COMMONS_CACHE_ENABLED:true}
      address: 
        client: ${COMMONS_CACHE_CLIENT_URL:localhost:10800} 
      appkey: ${COMMONS_CACHE_APPKEY:***MASKED***}
    auth:
      tld:
        enabled: ${COMMONS_TLD_AUTH_ENABLED:true}
      keycloak:
        enabled: ${COMMONS_KEY_CLOAK_ENABLED:false}
      ms:
        enabled: ${COMMONS_MS_AUTH_ENABLED:true}
      apikey:
        enabled: ${COMMONS_API_KEY_AUTH_ENABLED:true}
    event:
      enabled: ${COMMONS_KAFKA_ENABLED:true}
      servers: ${COMMONS_KAFKA_URL:localhost:29092}
      schema-registry-url: ${COMMONS_SCHEMA_REGISTRY_URL:http://127.0.0.1:8081}
      trusted-packages: com.platformcommons.platform.service.dto.event,com.platformcommons.platform.service.ai.config.event
      user-type-header: false
      max-poll-interval-ms: 600000 
      max-poll-records: 100
    service:
      encryption-key: ${COMMONS_ENCRYPTION_KEY:***MASKED***}
      iam:
        base-url: ${COMMONS_IAM_BASE_URL:http://localhost:9000}
      multi-tenancy:
        discriminator: true
        schema: false 
      datasource:
        username: ${COMMONS_DB_USERNAME:root}  
        password: ${COMMONS_DB_PASSWORD:***MASKED***}
        url: ${COMMONS_DB_URL:localhost}         
        port: ${COMMONS_DB_PORT:3006}  
        driver: ${COMMONS_DB_DRIVER:mysql}
    attachment:
      client: ${COMMONS_ATTACHEMENT_CLIENT:S3AttachmentClient}
      s3:
        privateBucketName: ${COMMONS_S3_PRIVATE_BUCKET_NAME:dev-private-bucket}
        publicBucketName: ${COMMONS_S3_PUBLIC_BUCKET_NAME:dev-public-bucket}
        accessKey: ${COMMONS_S3_ACCESS_KEY:***MASKED***}
        secretKey: ${COMMONS_S3_SECRET_KEY:***MASKED***}
        region: ${COMMONS_S3_REGION:ap-south-1}
    ms:
      base-url: ${COMMONS_MS_BASE_URL:http://localhost:8080/gateway}
      report-service:
        context-path: ${COMMONS_REPORT_SERVICE_CONTEXT_PATH:/commons-report-service}